	body{
		position: relative;
		display: inline-block;
	}
	.main-section{
		position: relative;
		display: inline-block;
		float: left;
		width: 450px;
	}
	.main-section table{
		position: relative;
		display: inline-block;
		float: left;
		width: 100%;
		border: 5px solid #118AC2;
	}
	.main-section table thead,.main-section table tbody{
		position:relative;
		display:inline-block;
		float:left;
		width:100%;
	}
	.main-section table thead tr,.main-section table tbody tr{
		position: relative;
		display: inline-flex;
		float: left;
		align-items: center;
		width: 100%;
		border-bottom: 1px solid lightgrey;
	}
	.main-section table thead tr th,.main-section table tbody tr td{
		position: relative;
		display: inline-block;
		float: left;
	}
	.main-section table thead tr th:nth-child(1),.main-section table tbody tr td:nth-child(1){
		width: 40%;
		padding: 8px 10px;
		text-align:left;
		font-weight:400;
	}
	.main-section table thead tr th:nth-child(2){
		background: #ececec;
		font-weight:400;
	}
	.main-section table thead tr th:nth-child(2),.main-section table tbody tr td:nth-child(2){
		width: 60%;
		padding: 8px 20px;
		text-align: right;
		font-size:18px;
		
	}
	.main-section table tbody tr td:nth-child(2){
		font-weight:600;
		
	}
	p{
		margin:0;
	}
	.colorRed{
		color:#CA3F52;
		margin-top:5px;
		font-size:16px;
	}
	.colorGreen{
		color:#449864;
		margin-top:5px;
		font-size:16px;
	}
	.arrowIcon{
		color: #118AC2;
		transform: rotate(90deg);
		display: inline-block;
		margin-right: 5px;
	}
	.main-section table tbody tr td:nth-child(1){
		color: #118AC2;
		font-weight:600;
		font-size:18px;
	}
	.main-section table tbody tr .loadMoreBtn{
		padding: 20px !important;
		font-size: 18px !important;
		text-align: center !important;
		display: inline-flex !important;
		justify-content: center !important;
		width: 100% !important;
    cursor: pointer;
	}
	.colorGrey{
		color:#7D7D7D;
		margin-top: 5px;
	}	

  .scriptSect{
    margin-top: 25px;
  }